.unlock-dialog-clock-time {
    padding: 0;
    /* color: blue;
    font-size: 64px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    font-style: italic; */
}

.unlock-dialog-clock-date {
    padding: 0;
    /* color: maroon;
    font-size: 64px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    font-style: italic; */
}